package components

// Brand component that displays the site logo/name
templ Brand() {
	<div>
		<a href="/">
			<img src="/static/images/logo/32x32.png" alt="PocketGoat" width="32" height="32" />
			<span>PocketGoat</span>
		</a>
	</div>
}